.addAuthor-form .form-control {
  background: #f7f7f7 none repeat scroll 0 0;
  border: 1px solid #d4d4d4;
  border-radius: 4px;
  font-size: 14px;
}
.main-div {
  background: #ffffff none repeat scroll 0 0;
  border-radius: 2px;
  margin: 10px auto 30px;
}

.addAuthor-form .form-group {
  margin-bottom:10px;
}
.addAuthor-form{ text-align:center;}
.addAuthor-form  .btn.btn-primary {
  background: #f0ad4e none repeat scroll 0 0;
  border-color: #f0ad4e;
  color: #ffffff;
  font-size: 14px;
  width: 20%;
  height: 50px;
  line-height: 50px;
  padding: 0;
}
.addAuthor-form .btn.btn-primary.reset {
  background: #ff9900 none repeat scroll 0 0;
}
